$main-font: 'Raleway', sans-serif;
$secondary-font: 'Open Sans', sans-serif;

$main-bg-color: #17daa3;
$secondary-bg-color: #edeff1;

$main-text-color: #87949e;
$secondary-text-color: #ffffff;
$secondary-header-text-color: #576671;

$btn-hover-color: #0f6674;