.main-header-block {
  background: url("../img/background/radiance.jpg");
  background-size: cover;
  min-height: 100vh;
  padding: 55px 20px;
}

.lorem-ipsum-block,
.ipsum-dolor-block,
.try-block {
  padding: 70px 30px;
}

.about-us-block {
  & .about-us-list {
    margin-top: 60px;
  }

  padding: 70px 0;
}

.our-services-block {
  & .service-list {
    margin-top: 60px;

    & .service-list-item {
      padding: 0;
      margin-bottom: 15px;
    }
  }

  padding: 70px 50px;
}

.our-team-block {
  & .team-list {
    margin-top: 60px;
  }

  padding-top: 70px;
}

.about-us-list,
.feedback-block {
  padding: 30px;
}

.lorem-ipsum-block,
.our-services-block {
  background-color: $secondary-bg-color;
}

.pricing-block {
  & .price-list {
    margin-top: 60px;
  }

  & .price-list-item {
    & .price {
      padding: 20px 30px 40px;
    }

    & .details {
      padding: 20px 30px 40px;
    }

    & .block {
      box-shadow: 0 0 35px rgba(227, 227, 227, 0.65);
      border-radius: 5px;
      background-color: $secondary-text-color;
    }

    padding: 10px;
  }

  & .price {
    border-bottom: 1px solid rgba(135, 148, 158, .3);
  }

  background-color: $secondary-bg-color;
  padding: 70px 0;
}

.feedback-block {
  background: url("../img/background/feedback.jpg") no-repeat;
  background-size: cover;
}

.try-block {
  background: url("../img/background/try.jpg") no-repeat;
  background-size: cover;
}

.main-footer-block {
  background: url("../img/background/footer.jpg") center no-repeat;
  background-size: cover;
  min-height: 50vh;
}


@media (min-width: 576px) {
  .try-block {
    & .row-content {
      min-height: 30vh;
    }
  }
}

@media (min-width: 768px) {
  .our-services-block {
    & .service-list {
      & .service-list-item {
        padding: 0 90px;
        position: relative;
      }
    }

    padding: 70px 60px 90px;
  }

  .try-block {
    & .row-content {
      min-height: 60vh;
    }
  }
}