%button-style {
  width: 183px;
  height: 47px;

  border-radius: 24px;
  display: table-cell;
  vertical-align: middle;
}

%button-style-hover {
  color: $secondary-text-color;
  background-color: $btn-hover-color;
}

.main-slider-button {
  @include text-style($main-font, 14px, 700, $secondary-text-color, 0.35px, 24px);
  @extend %button-style;

  border: 2px solid $secondary-text-color;
  background-color: transparent;

  &:hover {
    @extend %button-style-hover;
  }
}

.learn-more-button {
  @include text-style($main-font, 14px, 700, $secondary-text-color, 0.35px, 24px);
  @extend %button-style;

  background-color: $main-bg-color;

  &:hover {
    @extend %button-style-hover;
  }
}

.try-template-button {
  @include text-style($main-font, 14px, 700, $secondary-text-color, 0.35px, 24px);
  @extend %button-style;

  background-color: $main-bg-color;

  &:hover {
    @extend %button-style-hover;
  }
}

.purchase-button {
  @include text-style($main-font, 18px, 700, $secondary-text-color, 0.45px, 48px);
  text-transform: uppercase;

  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;

  background-color: $main-bg-color;
  position: relative;

  width: 20%;

  &:hover {
    color: $secondary-text-color;
    opacity: 0.7;
    transition: opacity 400ms;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .purchase-button {
    @include text-style($main-font, 12px, 700, $secondary-text-color, 0.45px, 48px);
  }
}