.search-icon::after {
  content: url("../img/icons/search.png");
}

.line {
  &::after {
    content: url("../img/small_line.jpg");
  }
}

.purchase-button {
  &::after {
    content: url("../img/icons/basket.png");
    position: absolute;
    right: 25px;
  }
}

@media (min-width: 320px) {

  .portfolio-icon,
  .design-icon,
  .branding-icon,
  .development-icon {
    display: none;
  }
}

@media (min-width: 768px) {
  .portfolio-icon {
    &::after {
      content: url("../img/icons/services/portfolio.png");
    }
  }

  .design-icon {
    &::after {
      content: url("../img/icons/services/design.png");
    }
  }

  .branding-icon {
    &::after {
      content: url("../img/icons/services/branding.png");
    }
  }

  .development-icon {
    &::after {
      content: url("../img/icons/services/development.png");
    }
  }

  .portfolio-icon,
  .design-icon,
  .branding-icon,
  .development-icon {
    display: block;
    position: absolute;
    left: -35px;
    top: 5px;
  }
}

