@media (min-width: 320px) {
  .header-slider {
    min-height: 80vh;
  }
  .feedback-slider {
    min-height: 30vh;
  }
}

@media (min-width: 992px) {
  .header-slider {
      min-height: 75vh;
    }

  .feedback-slider {
    min-height: 60vh;
  }
}